<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
	    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  </head>
  <body>
		<div class="container">
		{% block master %}{% endblock %}
		</div>	
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.8.0/axios.js"></script>
		<script src="../public/assets/js/subscribe.js" ></script>
  </body>
</html>